*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
#nav{
    background-image:linear-gradient(20deg,rgb(20, 181, 245),rgb(5, 2, 53));
    width: 100%;
    height: 35px;
    color: white;
}
#nav #Wrapper ul{
    margin-right: 20px;
}
#nav #Wrapper ul li{
    display: inline-block;
    margin-top: 5px;
 border-right: 1px solid rgb(19, 15, 241);

}
#nav .col ul li i{
    margin-left: 5px;
    margin-right: 5px;
}
#nav .col ul li:first-child{
    border-left: 1px solid rgb(19, 15, 241);

}
#main{
    height: 600px;
    width: 100%;
    background-image: linear-gradient(rgba(18, 18, 19, 0.6),rgba(7, 7, 8, 0.6)),url("WebImages/carousel-1.jpg");
    background-size: 100%;
    background-position: center;
}
#navdown{
    background-color: rgba(8, 9, 24, 0.3);
    width: 100%;
    height: 50px;
    margin-left: 0px;
    color: white;
}
#navdown ul li{
    margin: 10px;
    display: inline-block;
}
#navdown ul{
    margin-right: 100px;
}
#leftdiv{
    float: left;
    margin-top: 20px;
    height: 300px;
}
#leftdiv p{
    font-size: 20px;
    margin-top: 20px;
    color: white;
}
#leftdiv button{
    position: relative;
    height: 40px;
    color: white;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    margin-top: 20px;
}
#leftdiv button i{margin-right: 5px;}
#rightdiv{
 background-color: rgba(139, 134, 134, 0.4);
 height: 300px;
 margin-top: 20px;
 float: right;
 margin-left: 150px;
}
#rightdiv table{
    width: 100%;  
    height: 230px; 
}
#rightdiv table #box, #boxs{
 width: 100%;    
 height: 30px
}
table button{
    margin-top: 20px;
    background-color: transparent;
    height: 40px;
    font-size: 20px;
    width: 100%;
    color: white;
    border: 2px solid white;
}
#icons{
    margin-left: 20px;
    margin-top: 15px;
}
#icons #tw,#fb,#in,#go{
 display: inline-block;
 height: 30px ;
 width: 30px;
 margin-left: 20px;
 border: 2px solid white;
}
#rightdiv #icons i{
    margin-left: 5px;
}
#middle{
    width: 100%;
    height: 600px;
}
#index{
    width: 50%;
    height: 550px;
    margin-top: 30px;
}
#box1 img{
    position: relative;
    width: 350px;
    height: 400px;
    margin-left: 100px;
}
#box2 img{
    position: relative;
    width: 350px;
    height: 400px;
    bottom: 260px;
    left: 150px;
    margin-left: 100px;

}
#about{
    width: 47%;
    height: 500px;
    text-align: start;
    margin-top: 60px;
    margin-right: 25px;
}
#about p{
    color: black;
    font-size: 17px;
    text-align:start;
    width:550px ;
}

#smiddle{
    margin-top: 10px;
    width: 100%;
    height: 200px;
    border: 2px solid rgb(167, 163, 163);
    text-align: center;
    color: black;
}
#smiddle p{ color: black; margin-top: 10px;}
#how{ font-size: 50px; color: black;}
#register{
    background-color: transparent;
    width: 120px;
    text-align: center;
    color: black;
    height: 32px;
    border: 2px solid black;
}
#register i{
    color: black;
    margin-right: 10px;
}
#tmiddle{
    width: 100%;
    height: 260px;
    margin-top: 20px;
    color: black;
}
#tmiddle h2,p{
color: black;
text-align: center;
margin-top: 20px;
}
#tmiddle img{
    margin-left: 150px;
    margin-top: 20px;
}
#f1{
    width: 32%;
    height: 250px;
    display: inline-block;
    border: 2px solid rgb(167, 163, 163);
    color: #000000;
    margin: 5px;
}
#f2{
    width: 32%;
    height: 250px;
    display: inline-block;
    border: 2px solid rgb(167, 163, 163);
    color: black;
    margin: 5px;

}
#f3{
    width: 32%;
    height: 250px;
    display: inline-block;
    border: 2px solid rgb(167, 163, 163);
    color: black;
    margin: 5px;
}
#partner{
    width: 100%;
    height: 200px;
}
#partner h1{
    margin-left: 50px;
    font-size: 50px;
    margin-top: 10px;
    color: black;
}
#logos{
    float: right;
    margin-left: 550px;

    }
#logos div{
    list-style: none;
    text-decoration: none;
    width: 100px;
    height: 100px;
    margin: 20px;
display: inline-block;
}
#logos div img{
    width: 80px;
    height: 80px;
}

#upper{
	display: flex;
	padding: 2em;
}
#upper div{margin-left: 10em;}
#upper li{
    margin: 10px;
}
#footer{
    margin-top: 10px;
    height: 350px;
    width: 100%;
    color: white;
    background-color:rgb(3, 3, 51);
}
#footer hr{
    margin-left: 150px;
}
#footer span{
    float: right;
    margin-top: -10px;
}